<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="./src/app.css" />
    <link rel="shortcut icon" href="./favicon.ico" />
    <title>Serverless Fullstack</title>
  </head>

  <body>
    <div id="root">
      <div class="container">
        <div class="hero">
          <img src="./src/images/hero.png" />
        </div>

        <div class="tagline">
          a fullstack app built on serverless components via the serverless framework
        </div>

        <div class="buttonContainer">
          <div class="button" v-on:click="queryServer">
            <div class="buttonInner">
              <div class="buttonLeft">ß</div>
              <div class="buttonRight" v-bind:class="{ visible: isVisible }">
                {{ message }}
              </div>
            </div>
          </div>
        </div>

        <!-- user form -->
        <section class="user-form" action="#">
          <div class="form-item">
            <label for="name">
              Name:
            </label>
            <input name="name" v-model="form.name" type="text" /><br />
          </div>

          <div class="form-item">
            <label for="email">
              Email:
            </label>
            <input name="email" v-model="form.email" type="email" /><br />
          </div>

          <div class="form-item">
            <label for="site">
              Site:
            </label>
            <input name="site" v-model="form.site" type="text" /><br />
          </div>

          <button @click="addUser">Submit</button>
        </section>

        <!-- user list -->
        <section class="user-list">
          <ul v-if="userList.length > 0">
            <li v-for="item in userList" :key="item.id">
              <p>
                <b>Name: {{ item.name }}</b>
                <b>Email: {{ item.email }}</b>
                <b>Site: {{ item.site }}</b>
              </p>
            </li>
          </ul>
          <span v-else>No Data</span>
        </section>
      </div>
    </div>
    <script src="./src/index.js"></script>
  </body>
</html>
